/*** IMPORT CUSTOM FONTS ***/
@font-face {
  font-family: _Bold;
  src: url("../fonts/sensation_light/SansationBold.ttf");
}

@font-face {
  font-family: _Italic;
  src: url("../fonts/sensation_light/Sansation_Italic.ttf");
}

@font-face {
  font-family: _Regular;
  src: url("../fonts/sensation_light/Sansation_Regular.ttf");
}

/*** MAIN RULES ***/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1.4rem;
  background-color: #f3f3f3;
  font-family: "_Regular", serif;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
}

section {
  padding: 5%;
}

section h2 {
  text-align: center;
  font-family: _Bold, serif;
  font-size: 3rem;
  background: rgb(0, 182, 240);
  background: -webkit-linear-gradient(45deg, rgba(0, 182, 240, 1) 0%, rgba(233, 95, 157, 1) 43%, rgba(176, 24, 227, 1) 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article {
  padding: 2% 0;
}

article h2 {
  margin: 50px 0;
}

/*** GLOBAL CLASSES ***/
.underline {
  text-decoration: underline;
  text-underline-offset: .5rem;
}

.important {
  color: #FF0000;
  font-family: _Bold, serif;
}

.transition {
  transition: ease 1s;
}

#facebook {
  color: #3b5998;
}

#twitter {
  color: #00acee;
}

#instagram {
  color: #C13584;
}

#youtube {
  color: #FF0000;
}

#tiktok {
  color: #222222;
}

#discord {
  color: #5865F2;
}

.bold {
  font-family: _Bold, serif;
}

.italic {
  font-family: _Italic, serif;
}

.article-desc {
  padding: 0 15%;
}

.article-desc p {
  line-height: 2.25rem;
}

.article-desc p:last-of-type {
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.article-desc h3 {
  background: rgb(210, 196, 38);
  background: -webkit-linear-gradient(45deg, rgba(210, 196, 38, 1) 0%, rgba(244, 184, 76, 1) 50%, rgba(227, 24, 50, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: _Italic, serif;
  font-size: 2rem;
}

.check-menu-items {
  padding: 0;
}

.check-menu-items nav {
  width: 100%;
  background-color: #d9d9d9;
  margin: 60px auto;
  text-align: center;
}

.check-menu-items nav > label {
  width: 100%;
}

.check-menu {
  padding: 30px;
  font-family: _Bold, serif;
  background: rgb(235, 148, 186);
  background: radial-gradient(circle, rgba(235, 148, 186, 1) 0%, rgba(126, 177, 237, 1) 100%);
  color: #f3f3f3;
  font-size: 2.5rem;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
  letter-spacing: .2rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-menu::after {
  float: right;
  right: 10%;
  content: "+";
}

.check-menu-expand {
  clear: both;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  font-size: 1.75rem;
  transition: max-height 1s linear;
}

.check-menu-expand p {
  padding: 1% 2%;
}

.check-menu-item {
  position: absolute;
  opacity: 0;
  height: 0;
}

.check-menu-item:checked + .check-menu-expand {
  max-height: 5000px;
}

.littleTitle {
  text-align: center;
  font-family: _Bold, serif;
  background: rgb(210, 196, 38);
  background: -webkit-linear-gradient(45deg, rgba(210, 196, 38, 1) 0%, rgba(244, 184, 76, 1) 50%, rgba(227, 24, 50, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 0;
}

.grid-center {
  grid-column: 2;
  width: 100%;
}

.staffList ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 60%;
  font-size: 2rem;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}

.staffList ul:last-of-type {
  border-bottom: 1px solid black;
}

.staffList ul > li {
  width: 100%;
  padding: 1%;
  text-align: center;
}

.staffList p {
  font-size: 2rem;
  padding: 2% 5%;
  text-align: center;
}

.staffList h4 {
  text-align: center;
  font-size: 1.75rem;
}

.container-fluid {padding: 0}

/*** HEADER ***/

.navbar {
  background: rgb(0, 25, 33);
  background: linear-gradient(45deg, rgba(0, 25, 33, 1) 0%, rgba(176, 24, 227, 1) 62%, rgba(0, 178, 198, 1) 100%);
  color: #f3f3f3;
}

.navbar-toggler-icon {
  background-color: #f3f3f3;
}

.navbar-toggler-icon-i i:hover {
  transform: rotate(360deg);
  transition: .5s;
}

.header-nav .navbar-brand img {
  height: 70px;
  width: auto;
}

.header-nav .navbar-collapse {
  justify-content: center;
}

.header-nav .nav-item {
  margin: 0 10px;
}

.header-nav .nav-link {
  font-size: 1.5rem;
  position: relative;
  color: #f3f3f3;
}

.header-nav .nav-link:hover {
  border-bottom: 1px solid;
}

/*** INDEX ***/
#index-container {
  background-image: url("../img/background-index.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 85vh;
  position: relative;
}

#index-title {
  color: #ffffff;
}

#index-title h1 {
  font-size: 3rem;
}

#index-title h3 {
  font-size: 2rem;
}

#index-title i {
  font-size: 2.5rem;
  padding: 50px;
  cursor: pointer;
}

#index-title i:hover {
  transform: rotate(360deg);
  transition: 1s;
}

#SM {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2%;
  border-bottom: 1px solid black;
}

.SM-items {
  display: flex;
  font-size: 4rem;
  justify-content: space-around;
}

#gamemodes-desc {
  margin-top: 50px;
  border-bottom: 1px solid black;
  padding: 0 5%;
}

#presentation-video {
  padding: 5%;
  text-align: center;
  border-bottom: 1px solid black;
}

#history {
  border-bottom: 1px solid black;
}

#history h2 {
  text-align: center;
}

#history p {
  font-size: 1.75rem;
}

.history-items div {
  width: 100%;
}

#history-main-img {
  width: 100%;
}

#history-main-img-figure {
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#history-main-img-figure figcaption {
  margin-top: 20px;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

#history-stickers {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

#history-stickers img {
  width: 100%;
  height: 10rem;
  padding: 0.25rem;
  object-fit: cover;
  cursor: pointer;
}

.history-items-history {
  padding: 0 5%;
}

#history-quotes {
  padding: 5%;
}

#history-quotes p {
  font-family: _Italic, serif;
  font-size: 1.5rem;
}

.rules-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.rules-item {
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

.rules-item:hover {
  transition: .5s;
  background: #ffffff;
}

.rules-item h3 {
  text-align: center;
  font-family: _Bold, serif;
  margin: 25px 0;
}

#rules-desc p:last-of-type {
  text-align: center;
  margin-top: 50px;
}

.rules-item img {
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  height: 15rem;
  padding: 0.25rem;
  object-fit: cover;
}

/*** FOOTER ***/
.footer-basic {
  padding: 40px 0;
  background: rgb(0, 25, 33);
  background: linear-gradient(45deg, rgba(0, 25, 33, 1) 0%, rgba(176, 24, 227, 1) 62%, rgba(0, 178, 198, 1) 100%);
  color: #f3f3f3;
}

.footer-basic ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  width: 100%;
  text-align: center;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

