<footer class="footer-basic">
  <div class="social">
    <a href="https://discord.gg/YchYdtQVu7" target="_blank"><i class="fa-brands fa-discord"></i></a>
    <a href="https://youtube.com/@elysium.france" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://www.instagram.com/elysium.france/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://twitter.com/FranceElysium" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.facebook.com/people/Epsylium-France/100080141472475" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://tiktok.com/@elysiumfrance.officiel" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
  </div>
  <ul>
    <li><a href="index.html">Acceuil</a></li>
    <li><a href="#">CGU</a></li>
    <li><a href="#">CGV</a></li>
  </ul>
  <p class="copyright">EPSYLIUM © 2022-2023</p>
</footer>
