<footer>
  <ul class="footer-items">
    <ul class="footer-items-contact">
      <li><i class="fal fa-at"></i> <a href="mailto:epsyliumfr@gmail.com">epsyliumfr@gmail.com</a></li>
      <li><i class="fa-solid fa-copyright"></i> 2022 - 2023 <a href="">EPSYLIUM</a></li>
    </ul>

    <img src="" alt="Logo Epsylium" id="footer-logo">

    <ul class="footer-items-extand">
      <li><a href="#">Mentions Légales</a></li>
      <li><a href="#">CGU | CGV</a></li>
      <li class="footer-contact-items">
        <a href="https://youtube.com/@elysium.france"><i class="fab fa-youtube"></i></a>
        <a href="https://discord.gg/YchYdtQVu7" target="_blank"><i class="fab fa-discord"></i></a>
        <a href="https://www.instagram.com/elysium.france/" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </ul>
</footer>
