<!--
<header>
  <nav class="header-nav">
    <ul class="header-nav-items">
      <img src="../img/logo_epsylium.png" alt="Logo Epsylium">
      <li><a href="index.html" data-text="ACCUEIL">ACCUEIL</a></li>
      <li><a href="rules.html" data-text="RÈGLEMENT">RÈGLEMENT</a></li>
      <li><a href="wiki.html" data-text="WIKI">WIKI</a></li>
      <li><a href="updates.html" data-text="MISES À JOUR">MISES À JOUR</a></li>
      <li><a href="http://79.137.5.254/plesk-site-preview/elysiummc.fr/https/79.137.5.254/vote" data-text="VOTE" target="_blank">VOTE</a></li>
      <li><a href="http://79.137.5.254/plesk-site-preview/elysiummc.fr/https/79.137.5.254/shop/categories/grades" data-text="BOUTIQUE" target="_blank">BOUTIQUE</a></li>
      <li><a href="thanks.html" data-text="REMERCIEMENTS">REMERCIEMENTS</a></li>
      <li><a href="staff.html" data-text="STAFF D'EPSYLIUM">STAFF D'EPSYLIUM</a></li>
    </ul>
  </nav>
</header>
-->


<nav class="header-nav navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../img/logo_epsylium.png" alt="Logo Epsylium"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon-i"><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">ACCUEIL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rules.html">RÈGLEMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="wiki.html">WIKI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="updates.html">MISES À JOUR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://79.137.5.254/plesk-site-preview/elysiummc.fr/https/79.137.5.254/vote"
             target="_blank">VOTE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="http://79.137.5.254/plesk-site-preview/elysiummc.fr/https/79.137.5.254/shop/categories/grades"
             target="_blank">BOUTIQUE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="thanks.html">REMERCIEMENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="staff.html">STAFF D'EPSYLIUM</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


