<header>
  <nav class="header-nav">
    <ul class="header-nav-items">
      <img src="../img/logo_epsylium.png" alt="Logo Epsylium">
      <li><a href="index.html" data-text="ACCUEIL">ACCUEIL</a></li>
      <li><a href="rules.html" data-text="RÈGLEMENT">RÈGLEMENT</a></li>
      <li><a href="wiki.html" data-text="WIKI">WIKI</a></li>
      <li><a href="updates.html" data-text="MISES À JOUR">MISES À JOUR</a></li>
      <li><a href="http://79.137.5.254/plesk-site-preview/elysiummc.fr/https/79.137.5.254/vote" data-text="VOTE" target="_blank">VOTE</a></li>
      <li><a href="http://79.137.5.254/plesk-site-preview/elysiummc.fr/https/79.137.5.254/shop/categories/grades" data-text="BOUTIQUE" target="_blank">BOUTIQUE</a></li>
      <li><a href="thanks.html" data-text="REMERCIEMENTS">REMERCIEMENTS</a></li>
      <li><a href="#" data-text="STAFF D'EPSYLIUM">STAFF D'EPSYLIUM</a></li>
    </ul>
  </nav>
</header>
