<header>
  <nav class="header-nav">
    <ul class="header-nav-items">
      <img src="../img/logo_epsylium.png" alt="Logo Epsylium">
      <li><a href="../index.html" data-text="ACCUEIL">ACCUEIL</a></li>
      <li><a href="views/rules.html" data-text="RÈGLEMENT">RÈGLEMENT</a></li>
      <li><a href="#" data-text="WIKI">WIKI</a></li>
      <li><a href="#" data-text="MISES À JOUR">MISES À JOUR</a></li>
      <li><a href="#" data-text="VOTE">VOTE</a></li>
      <li><a href="#" data-text="BOUTIQUE">BOUTIQUE</a></li>
      <li><a href="#" data-text="REMERCIEMENTS">REMERCIEMENTS</a></li>
      <li><a href="#" data-text="STAFF D'EPSYLIUM">STAFF D'EPSYLIUM</a></li>
    </ul>
  </nav>
</header>
