<!doctype html>
<html class="no-js" lang="fr">

<head>
  <meta charset="utf-8">
  <title>EPSYLIUM</title>
  <meta name="description" content="Serveur Minecraft Communautaire 1.19.2">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="../site.webmanifest">
  <link rel="apple-touch-icon" href="../icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/responsive.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

<!-- Add your site or application content here -->
<header class="header"></header>

<main class="container-fluid">
  <section id="index-container" class="bg-image d-flex align-items-center">
    <div class="container">
      <div id="index-title" class="text-center">
        <h1 class="fw-bold">EPSYLIUM</h1>
        <h3 class="fw-bold">Serveur Minecraft Communautaire 1.19.2</h3>
        <i id="scroll-icon" class="fa-solid fa-angles-down fs-2"></i>
      </div>
    </div>
  </section>


  <section>
    <article id="SM">
      <ul class="SM-items">
        <li><a href="https://www.facebook.com/people/Epsylium-France/100080141472475" target="_blank"><i
          class="fa-brands fa-facebook" id="facebook"></i></a></li>
        <li><a href="https://twitter.com/FranceElysium" target="_blank"><i class="fa-brands fa-twitter"
                                                                           id="twitter"></i></a></li>
        <li><a href="https://www.instagram.com/elysium.france/" target="_blank"><i class="fa-brands fa-instagram"
                                                                                   id="instagram"></i></a></li>
        <li><a href="https://youtube.com/@elysium.france" target="_blank"><i class="fa-brands fa-youtube"
                                                                             id="youtube"></i></a></li>
        <li><a href="https://tiktok.com/@elysiumfrance.officiel" target="_blank"><i class="fa-brands fa-tiktok"
                                                                                    id="tiktok"></i></a></li>
        <li><a href="https://discord.gg/YchYdtQVu7" target="_blank"><i class="fa-brands fa-discord"
                                                                       id="discord"></i></a></li>
      </ul>
    </article>

    <article id="gamemodes-desc">
      <h2>MODES DE JEU</h2>
      <ul class="check-menu-items">
        <li>
          <nav>
            <label for="semi-rp"><span class="check-menu">SEMI-RP</span></label>
            <input type="checkbox" id="semi-rp" class="check-menu-item">
            <div class="check-menu-expand">
              <p>
                Un <span class="bold">guide</span> vous aidera dans vos débuts au cœur de notre mode de jeu <span
                class="bold">phare</span> !
              </p>
              <p>
                Profitez de votre aventure semi rp avec nos tout <span class="bold">nouveaux packs</span> ajoutés afin
                d’accentuer le dynamisme du rp !
              </p>
              <p>
                Jouez avec vos <span class="bold">amis</span>, parcourez de vastes contrées, bâtissez votre propre <span
                class="bold">ville</span> et devenez en le maire !
              </p>
              <p>
                Mais ce n’est pas tout, vous pouvez également réaliser des quêtes en vue de <span class="bold">récompenses</span>
                toujours plus intéressantes, trouvez des <span class="bold">donjons</span> et soyez heureux d’ouvrir
                leurs coffres emplis de <span class="bold">trésors</span> !
              </p>
              <p>
                Venez nous rejoindre au cœur de <span class="bold">l’aventure</span> et des <span
                class="bold">mystères</span> qui y sont à découvrir !
              </p>
            </div>
          </nav>
        </li>

        <li>
          <nav>
            <label for="skyblock"><span class="check-menu">SKYBLOCK</span></label>
            <input type="checkbox" id="skyblock" class="check-menu-item">
            <div class="check-menu-expand">
              <p>
                à venir
              </p>
            </div>
          </nav>
        </li>

        <li>
          <nav>
            <label for="ffa"><span class="check-menu">BATTLE ROYAL | FFA</span></label>
            <input type="checkbox" id="ffa" class="check-menu-item">
            <div class="check-menu-expand">
              <p>
                Lancez vous dans une bataille <span class="bold">acharnée</span>, sur le terrain ou dans les
                profondeurs, notre <span class="bold">BR/FFA</span> saura vous satisfaire.
              </p>
              <p>
                Ce mode de jeu vous offre une <span class="bold">expérience de jeu inédite</span>, parcourez une map
                conçue pour changer sur le long terme au <span class="bold">fil de l’histoire</span> !
              </p>
              <p>
                Ce n’est pas tout, découvrez différents <span class="bold">mods packs</span> vous permettant d’acquérir
                des armes mystérieuses après un <span class="bold">rude affrontement</span> contre l’un de ces monstres,
                servez-vous-en afin de <span class="bold">régner</span> !
              </p>
              <p>
                Il y a bien <span class="bold">d’autres choses</span> que vous ignorez sur ce mode alors dépêchez-vous
                et <span class="bold">rejoignez nous</span> !
              </p>
            </div>
          </nav>
        </li>
      </ul>
    </article>

    <article id="presentation-video">
      <h2>VIDÉO DE PRÉSENTATION</h2>
      <iframe width="800px" height="600px" src="https://www.youtube.com/embed/EWaGHIWEgt4" title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
    </article>

    <article id="history">
      <div class="history-items">

        <div class="history-items-history">
          <h2>NOTRE HISTOIRE</h2>
          <p>
            Le serveur minecraft d’Epsylium est né d’une passion dévouée envers le jeu, d’une communauté exceptionnelle
            et d’un staff investi.
            L’histoire de ce serveur n’était pas écrite, mais c’est pourtant ce que feront deux amis, meilleurs amis,
            Solo_CM & SamRVX78. Tous deux lycéen, ils ont décidé de construire leur propre serveur. Au cours de son
            développement les deux fondateurs ainsi que le staff ont été confrontés à de nombreux sentiments : joie,
            tristesse, espoir, mais aussi désespoir…
            La création de ce serveur n’a pas était si simple il faut l’avouer, mais à force de persévérance et de
            détermination, le projet a finalement aboutit. C'est le résultat d'une firme qui existe depuis déjà presque
            12ans ayant débuté de la passion de Solo_CM pour la construction de ville RP sur Minecraft, qu'il ne cessera
            de faire à un nombre ahurissant jusqu'à ce qu'il découvre les jeux en ligne et qu'il entame le projet en
            2021.
          </p>
        </div>

        <figure id="history-main-img-figure">
          <img src="../img/gallery/history-1.png" alt="" id="history-main-img">
          <figcaption id="history-main-img-title">Statue du SEMI - RP</figcaption>
        </figure>

        <div id="history-stickers">
          <img src="../img/gallery/history-2.png" alt="Spawn SEMI - RP ">
          <img src="../img/gallery/history-3.png" alt="Bibliothèque SEMI - RP">
          <img src="../img/gallery/history-4.png" alt="Top Voteurs">
          <img src="../img/gallery/history-5.png" alt="Salle des Responsables">
          <img src="../img/gallery/history-6.png" alt="Parc du SEMI - RP">
          <img src="../img/gallery/history-1.png" alt="Statue du SEMI - RP">
          <img src="../img/gallery/history-7.png" alt="Lobby">
          <img src="../img/gallery/history-8.png" alt="NPC du Lobby">
          <img src="../img/gallery/history-9.png" alt="Parc du SEMI - RP">
          <img src="../img/gallery/history-10.png" alt="Chalets du Lobby">
          <img src="../img/gallery/history-11.png" alt="NPC du SEMI - RP">
          <img src="../img/gallery/history-12.png" alt="Salle Administration">
        </div>
      </div>
    </article>

    <article id="history-quotes">
      <h3 class="littleTitle">FONDATEUR Solo_CM</h3>
      <p>
        Le serveur EPSYLIUM représente beaucoup pour moi, le travail qu’il a nécessité, sa diversité et ses modes de
        jeux sont de loin une fierté ! Malgré tout, une autre chose essentielle était la communauté derrière ce
        projet, mais aussi le staff qui nous a soutenu quoi qu’il arrive ou encore mes amis qui ont toujours été
        là si besoins. Je suis fier aujourd'hui de voir que EPSYLIUM a créé de nombreuses histoires sur minecraft, et
        je ne remercierai jamais assez les joueurs actifs qui permettent d'intégrer le serveur communautaire dans le
        monde du gaming minecraftien.
      </p>
    </article>
  </section>

</main>

<footer class="footer"></footer>


<script src="../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>
<script src="../js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('set', 'transport', 'beacon');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
