<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="utf-8">
    <title>EPSYLIUM | STAFF </title>
    <meta name="description" content="Serveur Minecraft Communautaire 1.19.2">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <meta name="theme-color" content="#fafafa">
  </head>
</head>
<body>
<header class="header"></header>

<main>
  <section>
    <article id="wiki-desc" class="article-desc">
      <h2>NOS ÉQUIPES</h2>
      <p>
        Actuellement indisponible
      </p>
    </article>

    <article id="staff" class="staffList">
      <div>
        <h3 class="littleTitle">FONDATEUR</h3>
        <ul>
          <li class="grid-center">Solo_CM</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">DÉVELOPPEMENT</h3>
        <h4>Responsable SakudoForHerlp</h4>
        <ul>
          <li>Armotik</li>
          <li>JordanLePro</li>
          <li>Liam</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">PROJET</h3>
        <h4>Responsable R6</h4>
        <ul>
          <li class="grid-center  italic">En recrutement</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">SERVERS</h3>
        <h4>Responsable Balrog329</h4>
        <ul>
          <li class="grid-center  italic">En recrutement</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">ADMINISTRATION</h3>
        <h4>Responsable Adamiste39</h4>
        <ul>
          <li class="grid-center  bold">Administrateurs</li>
          <li class="grid-center  italic">En recrutement</li>
        </ul>

        <ul>
          <li class="grid-center  bold">Modérateurs</li>
          <li class="grid-center">Sprat</li>
        </ul>

        <ul>
          <li class="grid-center  bold">Helpeurs</li>
          <li class="grid-center  italic">En recrutement</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">COMMUNICATION</h3>
        <h4>Responsable Kiritorym</h4>
        <ul>
          <li class="grid-center  italic">En recrutement</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">PLATEFORMES</h3>
        <h4>Responsable Armotik</h4>

        <ul>
          <li class="grid-center  bold">Site</li>
          <li class="grid-center">Armotik</li>
        </ul>
        <ul>
          <li class="grid-center  italic">En recrutement</li>
        </ul>
      </div>

    </article>
  </section>
</main>

<footer class="footer"></footer>
</body>

<script src="../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>

</html>

