<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="utf-8">
    <title>EPSYLIUM | REMERCIEMENTS </title>
    <meta name="description" content="Serveur Minecraft Communautaire 1.19.2">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <meta name="theme-color" content="#fafafa">
  </head>
</head>
<body>
<header class="header"></header>

<main>
  <section>
    <article id="wiki-desc" class="article-desc">
      <h2>REMERCIEMENTS</h2>
      <p>
        Nous portons une grande attention aux personnes qui nous ont apporté leur aide. C'est pourquoi nous leur avons
        dédié un espace juste pour les remercier, nous voulons prendre le temps de célébrer et de reconnaître tous ceux
        qui ont contribué à notre réussite nous sommes reconnaissants pour le soutien constant que vous nous avez
        apporté. Nous croyons fermement que le succès ne peut être atteint sans l'aide de tous et c'est pourquoi nous
        tenons à dire merci. Asseyez-vous, détendez-vous et parcourez notre espace de remerciements pour découvrir
        toutes les personnes qui ont permis à Epsylium d'exister.
      </p>
    </article>

    <article id="thanks" class="staffList">
      <div>
        <h3 class="littleTitle">FONDATEUR</h3>
        <ul>
          <li class="grid-center">Solo_CM</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">DÉVELOPPEURS</h3>
        <ul>
          <li>SakudoForHelp</li>
          <li>Captain_Cuddle</li>
          <li>Adamiste39</li>
          <li>Lucky_kika</li>
          <li>Popcorn</li>
          <li>BgTox</li>
          <li>Ylanouh</li>
          <li>Hekuta</li>
          <li>Armotik</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">BUILDERS</h3>
        <ul>
          <li>Balrog329</li>
          <li>Sasha_braus</li>
          <li>Sprat</li>
          <li class="grid-center">R6</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">BETA-TESTEURS</h3>
        <ul>
          <li>wola</li>
          <li>yparienti</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle">PHOTOGRAPHE</h3>
        <ul>
          <li class="grid-center">Inkytoon</li>
        </ul>
      </div>

      <div>
        <h3 class="littleTitle"><a href="https://clh-c.com/" target="_blank">CLH-CLOUD</a></h3>
        <p>
          Mathias et à toute son équipe pour ses services d’hébergement et son aide jusqu’à aujourd'hui, <a href="https://clh-c.com/" class="underline">CLH-Cloud</a> a
          donné un coup de pouce incontestable à EPSYLIUM et rien ne serait abouti dans ce projet de serveur
          communautaire sans cette coopération. Un grand Merci.
        </p>
      </div>
    </article>
  </section>
</main>

<footer class="footer"></footer>
</body>

<script src="../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>

</html>
